[submodule "PythonVRFT"]
	path = PythonVRFT
	url = https://github.com/rssalessio/PythonVRFT
[submodule "ddcontrol/vrft"]
	path = ddcontrol/vrft
	url = https://github.com/rssalessio/PythonVRFT
[submodule "ddcontrol/PythonVRFT"]
	path = ddcontrol/PythonVRFT
	url = https://github.com/rssalessio/PythonVRFT
	branch = ddcontrol
